*{
  box-sizing: border-box;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
.header {
  background-color: #014375;
  color: #ffffff;
  padding: 15px;
}
body{
  background-color: #F5F5F5;
  padding: 30px;
  font-size: 12px;
  margin-top: 100px;
}


.footer {
  background-color: rgba(245, 245, 245, 0.644);
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 35px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}


[class*="col-"] {
  float: center;
  padding: 15px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

button {
  background-color: #5A0344;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 170px;
}

button:hover {
  opacity: 0.6;
}

.container {
  float: center;
  padding: 16px;
  text-align: center;

}
input[type=text], input[type=password] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
